RewriteEngine On
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME}\.js -f
RewriteRule ^([^\.]+)$ $1.js [L]

RewriteCond %{REQUEST_FILENAME}\.jsx -f
RewriteRule ^([^\.]+)$ $1.jsx [L]